<div class="sui-navbar navbar-fixed-bottom">
    <div class="navbar-inner"><a href="#" class="sui-brand">EPI Open Quant v1.0</a>
        <ul class="sui-nav pull-right">
            <li><a href="javascript:void(0)" data-toggle="tooltip" data-trigger="click" title=""
            data-original-title="<a target='_blank' href='http://www.epaitech.com'>上海翌派科技有限公司</a><br/>联系电话：021-62593865<br/>QQ交流群：21323365">关于</a></li>
            <li><a href="javascript:void(0)" data-toggle="tooltip" data-trigger="click" title=""
            data-original-title="EPI Open Quant为<a target='_blank' href='https://github.com/epaiquant'>开源项目</a>，不得用于商业用途，违者追究法律问题。">版权申明</a></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>